<template>
  <div>
    <NavBar />
    <div class="container">
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5"
      >
        <div
          v-for="(pelicula, index) in indexPeliculas"
          :key="index"
          class="col mb-4"
        >
          <b-card
            :title="pelicula.nombre"
            :img-src="pelicula.portada"
            :img-alt="pelicula.nombre"
            style="max-width: 20rem;"
            class="text-center"
          >
            <b-button :href="`/cartelera/${pelicula.id}`" variant="primary"
              >Comprar</b-button
            >
          </b-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import NavBar from '~/components/NavBar.vue'

export default {
  components: {
    NavBar
  },
  computed: {
    ...mapState(['indexPeliculas'])
  },
  mounted() {
    this.obtenerPeliculas()
  },
  methods: {
    ...mapActions(['obtenerPeliculas'])
  }
}
</script>
