<template>
  <div>
    <NavBar />
    <div class="container">
      <b-card no-body class="overflow-hidden">
        <b-row no-gutters>
          <b-col md="6">
            <b-card-img
              :src="carteleraPelicula.portada_pelicula"
              :alt="carteleraPelicula.titulo_pelicula"
              class="rounded-0"
            ></b-card-img>
          </b-col>
          <b-col md="6">
            <b-card-body
              :title="
                `Funciones diponibles para: ${carteleraPelicula.titulo_pelicula}`
              "
            >
              <ul>
                <li>
                  <strong>Fecha:</strong>
                  {{ carteleraPelicula.fecha_pelicula | formatDate }}
                </li>
                <li>
                  <strong>Idioma:</strong>
                  {{ carteleraPelicula.lenguaje_pelicula }}
                </li>
                <li>
                  <strong>Clasificación:</strong>
                  {{ carteleraPelicula.tipo_pelicula }}
                </li>
              </ul>
              <p>Horarios:</p>
              <b-table
                striped
                hover
                :items="carteleraPelicula.funciones"
                :fields="fields"
              >
              </b-table>
            </b-card-body>
            <b-col class="text-center">
              <b-button size="sm" variant="primary" @click="iniciarCompra()"
                >Comprar Entradas</b-button
              >
            </b-col>
          </b-col>
        </b-row>
      </b-card>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import NavBar from '~/components/NavBar.vue'
export default {
  components: {
    NavBar
  },
  data() {
    return {
      fields: ['hora_inicio', 'hora_fin', 'nombre_sala']
    }
  },
  computed: {
    ...mapState(['carteleraPelicula'])
  },
  mounted() {
    this.detallePelicula(this.$route.params.id)
  },
  methods: {
    ...mapActions(['detallePelicula']),
    iniciarCompra() {
      this.$router.push({ path: `/compra/${this.$route.params.id}` })
    }
  }
}
</script>
