<template>
  <div>
    <NavBar />
    <div class="container">
      <b-row>
        <b-col cols="4">
          <b-card
            :title="carteleraPelicula.titulo_pelicula"
            :img-src="carteleraPelicula.portada_pelicula"
            :img-alt="carteleraPelicula.titulo_pelicula"
          >
            <b-card-body>
              <ul>
                <li>
                  <strong>Fecha:</strong>
                  {{ carteleraPelicula.fecha_pelicula | formatDate }}
                </li>
                <li>
                  <strong>Idioma:</strong>
                  {{ carteleraPelicula.lenguaje_pelicula }}
                </li>
                <li>
                  <strong>Clasificación:</strong>
                  {{ carteleraPelicula.tipo_pelicula }}
                </li>
              </ul>
            </b-card-body>
          </b-card>
        </b-col>
        <b-col cols="8">
          <b-card :title="tab !== 'fin' ? 'Elige tus opciones:' : ''">
            <b-card-body v-show="tab === 'seleccion'">
              <div class="m-4">
                <label>Cantidad de asientos</label>
                <b-row>
                  <b-col cols="4">
                    <strong>Total: </strong>
                    <span>{{ cantidadAsientos * 15 }} S/</span>
                  </b-col>
                  <b-col cols="8">
                    <b-form-spinbutton
                      v-model="cantidadAsientos"
                      min="1"
                      max="10"
                    ></b-form-spinbutton>
                  </b-col>
                </b-row>
              </div>
              <b-table :items="carteleraPelicula.funciones" :fields="fields">
                <template v-slot:cell(opcion)="data">
                  <b-button size="sm" @click="seleccionSala(data.item)"
                    >Seleccionar</b-button
                  >
                </template>
              </b-table>
            </b-card-body>

            <b-card-body v-show="tab === 'sala'">
              <h3>{{ (compra || {}).nombre_sala }}</h3>
              <div class="pantalla"></div>
              <div class="asiento-container">
                <div
                  v-for="(asiento, index) in asientos"
                  :key="index"
                  class="asiento"
                  :class="asiento.disponible ? 'activo' : 'ocupado'"
                  :data-asiento="asiento.codigo"
                  @click="seleccionarAsiento(asiento)"
                />
              </div>
              <hr />
              <div class="p-5 text-center">
                <b-button
                  size="sm"
                  :disabled="!compraActiva"
                  variant="primary"
                  @click="resumen()"
                  >Continuar</b-button
                >
              </div>
            </b-card-body>

            <b-card-body v-show="tab === 'resumen'">
              <h3>Resumen de compra:</h3>
              <ul>
                <li><strong>Inicio: </strong>{{ compra.hora_inicio }}</li>
                <li><strong>Fin: </strong>{{ compra.hora_fin }}</li>
                <li><strong>Sala: </strong>{{ compra.nombre_sala }}</li>
                <li>
                  <strong>Asientos: </strong>
                  <span
                    v-for="(asiento, index) in compra.asientos"
                    :key="index"
                  >
                    {{ asiento.codigo }}
                  </span>
                </li>
                <li><strong>Total: </strong>{{ cantidadAsientos * 15 }} S/</li>
              </ul>
              <div class="p-5 text-center">
                <b-button size="sm" variant="primary" @click="comprarEntradas()"
                  >Finalizar Compra</b-button
                >
              </div>
            </b-card-body>

            <b-card-body v-show="tab === 'fin'">
              <h2>Compra realizada con exito.</h2>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import NavBar from '~/components/NavBar.vue'
export default {
  components: {
    NavBar
  },
  data() {
    return {
      tab: 'seleccion',
      fields: ['hora_inicio', 'hora_fin', 'nombre_sala', 'opcion'],
      cantidadAsientos: 1,
      contador: 0,
      asientos: [],
      compra: {},
      compraActiva: false
    }
  },
  computed: {
    ...mapState(['carteleraPelicula', 'salaAsientos'])
  },
  mounted() {
    this.detallePelicula(this.$route.params.id)
  },
  methods: {
    ...mapActions(['detallePelicula', 'obtenerAsientos', 'realizarCompra']),
    async seleccionSala(data) {
      await this.obtenerAsientos(data.id_sala)
      this.tab = 'sala'
      this.compra = data
      this.asientos = this.salaAsientos
    },
    seleccionarAsiento(data) {
      if (this.contador < this.cantidadAsientos) {
        this.asientos.map((item, index) => {
          if (item === data) {
            item.disponible = !item.disponible
          }
        })
        this.contador++
        this.compraActiva = true
      } else {
        alert('No puedes seleccionar más asientos')
      }
    },
    resumen() {
      if (this.contador !== this.cantidadAsientos) {
        alert('Sebes seleccionar todos tus asientos')
      } else {
        const arr = []
        this.asientos.map((item) => {
          if (!item.disponible) arr.push(item)
        })
        this.compra.asientos = arr
        this.tab = 'resumen'
      }
    },
    async comprarEntradas() {
      const body = {}
      body.total_tickets = this.cantidadAsientos
      body.total_costo = this.cantidadAsientos * 15
      body.id_cliente = 1
      body.id_cartelera = this.carteleraPelicula.id_cartelera
      body.id_asiento = this.compra.asientos[0].id
      body.costo = 15
      const response = await this.realizarCompra(body)
      if (response) this.tab = 'fin'
    }
  }
}
</script>

<style>
.pantalla {
  align-items: center;
  background-color: lightgray;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
}
.pantalla:before {
  content: 'Pantalla';
  font-size: 12px;
  text-transform: uppercase;
}
.asiento-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.asiento {
  align-items: center;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  margin: 8px;
  width: 40px;
}
.asiento:before {
  content: attr(data-asiento);
  font-size: 12px;
}
.asiento.activo {
  background-color: lightgreen;
}
.asiento.ocupado {
  background-color: lightcoral;
}
</style>
